- content_for :title, @item.name
.catalog-item-section.reveal
  %a.catalog-item-image-link{href: @item.affiliate_url, target: '_blank'}
    = image_tag @item.feature_image(:large), alt: @item.name, class: 'catalog-item-image-show'
  %h2 #{@item.name}
  - if @item.catalog_category
    %p
      %strong Category:
      #{@item.catalog_category.name}
  %p
    %strong Creator:
    #{@item.creator}
  %p
    %strong Released:
    #{@item.released_date_formatted}
  %h4 #{@item.description}
  %h5
    %a{href: @item.affiliate_url, target: '_blank'}
      Get Weird
      %span.icon-right-arrow
  %ul.catalog-item-social<>
    %li<>
      %a.catalog-item-twitter.icon-twitter-circled{href: twitter_share_url(@item), target: '_blank'}
    %li<>
      %a.catalog-item-facebook.icon-facebook-circled{href: facebook_share_url(@item), target: '_blank'}
