%head
  %meta{charset: 'utf-8'}
  %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
  %meta{name: 'description', content: 'A curated collection of high-quality games, movies, TV, music, books, comics, and internet stuff. Celebrate the colorful, creative, and strange.'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
  - if !@is_admin_page
    - if @item
      %meta{property: 'og:url', content: catalog_item_url(@item)}
      %meta{property: 'og:title', content: "#{@item.name} | Weird Catalog"}
      %meta{property: 'og:description', content: @item.description}
      %meta{property: 'og:image', content: @item.feature_image(:large)}
    - else
      %meta{property: 'og:url', content: 'http://www.weirdcatalog.com'}
      %meta{property: 'og:title', content: 'Weird Catalog'}
      %meta{property: 'og:description', content: 'A curated collection of high-quality games, movies, TV, music, books, comics, and internet stuff. Celebrate the colorful, creative, and strange.'}
      %meta{property: 'og:image', content: 'http://www.weirdcatalog.com/open_graph.png'}
    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'fb:admins', content: '1325850192'}
    %meta{property: 'fb:admins', content: '682837756'}

  %link{rel: 'apple-touch-icon', href: '/apple-touch-icon.png'}
  %link{rel: 'shortcut icon', href: '/favicon.png', type: 'image/x-icon'}
  %link{rel: 'icon', href: '/favicon.png', type: 'image/x-icon'}

  %title #{yield(:title) + ' | ' if yield(:title).present?}Weird Catalog

  = stylesheet_link_tag 'application'
  = csrf_meta_tags
  = javascript_include_tag :modernizr
  %script{src: '//use.typekit.net/tla7mpq.js', type: 'text/javascript'}
  :javascript
    // Typekit
    try{Typekit.load();}catch(e){}
