= simple_form_for [:admin, item], html: {multipart: true} do |f|
  = f.input :name, as: :string
  = f.input :url, as: :string
  = f.input :description
  = f.input :creator, as: :string
  = f.input :released_at, as: :date, html5: true
  = f.association :catalog_category
  %ul.list-reset.admin-catalog-item-image-upload
    - if item.feature_image.exists?
      %li
        = image_tag item.feature_image.url(:large), class: 'admin-catalog-item-image'
    %li
      = f.input :feature_image, as: :file
      = f.input :upload_url, as: :string
  = f.button :submit
  &nbsp;&nbsp;&nbsp;
  %a.button{href: admin_catalog_items_path} Cancel
