!!!
%html
  = render 'shared/head'
  %body
    .off-canvas-wrap{data: {offcanvas: true}}
      .inner-wrap
        = render 'shared/admin_nav'
        = render 'shared/flash'
        = yield
        %a.exit-off-canvas{href: '#'}
        = render 'shared/footer'
