!!!
%html
  = render 'shared/head'
  %body{class: yield(:body_class)}
    - if @item || @is_error_page
      = render 'shared/nav_show'
    - else
      = render 'shared/nav'
    .page-content
      = yield
    = render 'shared/footer'
